.form{
    width: $contactos-form-ancho;
    height: $contactos-form-alto;
    

    .form_cajitas{
        height:$contactos-form-alto/9;
        margin: auto;
    }
}

.parrafo{
    font-size: 17px;
    text-align: center;
    margin: 30px 100px 30px 100px;
}

.aside{
    width: $contactos-form-ancho;

    .aside_comentarios{
        height: 200px;
        width: 400px;
    }

    .aside_pruebas{
        height: $contenedor-carrito;
        width: 99%;
    }
    
}