$footer-ancho:100%;

$nav-ancho:60%;

$main-ancho:1349px;

$main-ancho-mobile:1000px;

$section-ancho:1000px;

$productos-ancho:1000px;

$contenedor-ancho-index-tres:1140px;

$carrito-section-ancho:1300px;

$contenedor-carrito:200px;

$contactos-form-ancho:600px;

$contactos-form-alto:600px;

$seccion-envio:99%;

$nosotros-caja:1000px;

$nosotros-caja-mobile:2400px;

$footer-ancho-mobile:799px;
